*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

html,body{
    overflow-x: hidden;
}

a{
    color: #333;
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
}

.img_box{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: none;
  }
  .img_box:first-child{
    display: block;
  }

